<a href="https://colab.research.google.com/github/keshavvprabhu/python-tutorials/blob/main/PandasExploration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exploring Pandas Documentation with a sample Dataset

## Reading the dataset
For this example, we are considering the imdbratings dataset

The following pandas functions will help you a lot with data analysis:

1. df.describe() # Generates stats on columns 
2. df.apply()    # Applies functions on columns
3. df.groupby() # Applies aggregation of a column 
4. df.rolling()    # Moving window aggregation
5. df.sort_values() # Sorts tables
6. df.plot() # Generate cool data viz
7. df.corr() # Correlation matrix
8. df.sample() # Sample data
9. pd.to_datetime() # Convert an object to a datetime column
10. df.rename() # Renames columns
11. df.filter() # Filter on columns
12. df.drop() # Drops rows based on a condition
13. df.fillna() # Imputes missing values
14. df.rank() # Generates ranks on a column
15. df.head() # Peek at top rows

In [ ]:
import pandas as pd

df = pd.read_csv('http://bit.ly/imdbratings')
df.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [ ]:
df[(df['duration'] > 200) & (df['genre'].isin(['Drama', 'Crime']))]

,star_rating,title,content_rating,genre,duration,actors_list
17,8.7,Seven Samurai,UNRATED,Drama,207,"[u'Toshir\xf4 Mifune', u'Takashi Shimura', u'K..."
78,8.4,Once Upon a Time in America,R,Crime,229,"[u'Robert De Niro', u'James Woods', u'Elizabet..."
157,8.2,Gone with the Wind,G,Drama,238,"[u'Clark Gable', u'Vivien Leigh', u'Thomas Mit..."
476,7.8,Hamlet,PG-13,Drama,242,"[u'Kenneth Branagh', u'Julie Christie', u'Dere..."

## Dropping a column

In [ ]:
df.drop('actors_list', axis=1).head()

   star_rating                     title content_rating   genre  duration
0          9.3  The Shawshank Redemption              R   Crime       142
1          9.2             The Godfather              R   Crime       175
2          9.1    The Godfather: Part II              R   Crime       200
3          9.0           The Dark Knight          PG-13  Action       152
4          8.9              Pulp Fiction              R   Crime       154

You may also use axis="columns" or axis=1 interchangeably

In [ ]:
df.drop('actors_list', axis="columns").head()

   star_rating                     title content_rating   genre  duration
0          9.3  The Shawshank Redemption              R   Crime       142
1          9.2             The Godfather              R   Crime       175
2          9.1    The Godfather: Part II              R   Crime       200
3          9.0           The Dark Knight          PG-13  Action       152
4          8.9              Pulp Fiction              R   Crime       154

## Dropping a Row

You may also use axis=0 or axis='index' interchangeably

In [ ]:
df.drop(2,axis=0).head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."
5,8.9,12 Angry Men,NOT RATED,Drama,96,"[u'Henry Fonda', u'Lee J. Cobb', u'Martin Bals..."

### Remember

*   axis=0 => Row Operation         - You can also use axis='index'
*   axis=1 => Column Operation      - You can also use axis='columns'

# df.describe()

This function gives you an overall view of the measures of the dataframe. 
Measures are the numeric columns within a dataframe  and Dimensions are the non-numeric or categorical columns.

Here I am leveraging terminology from Tableau

In [ ]:
df.describe()

       star_rating    duration
count   979.000000  979.000000
mean      7.889785  120.979571
std       0.336069   26.218010
min       7.400000   64.000000
25%       7.600000  102.000000
50%       7.800000  117.000000
75%       8.100000  134.000000
max       9.300000  242.000000

In [ ]:
df.describe(include='all')

,star_rating,title,content_rating,genre,duration,actors_list
count,979.000000,979,976,979,979.000000,979
unique,NaN,975,12,16,NaN,969
top,NaN,Dracula,R,Drama,NaN,"[u'Daniel Radcliffe', u'Emma Watson', u'Rupert..."
freq,NaN,2,460,278,NaN,6
mean,7.889785,NaN,NaN,NaN,120.979571,NaN
std,0.336069,NaN,NaN,NaN,26.218010,NaN
min,7.400000,NaN,NaN,NaN,64.000000,NaN
25%,7.600000,NaN,NaN,NaN,102.000000,NaN
50%,7.800000,NaN,NaN,NaN,117.000000,NaN
75%,8.100000,NaN,NaN,NaN,134.000000,NaN
max,9.300000,NaN,NaN,NaN,242.000000,NaN

In [ ]:
df.nunique()

star_rating        20
title             975
content_rating     12
genre              16
duration          133
actors_list       969
dtype: int64

In [ ]:
df.isnull().sum()

star_rating       0
title             0
content_rating    3
genre             0
duration          0
actors_list       0
dtype: int64

# df.melt()

In [ ]:
df_columns = df.columns
set_df_columns = set(df.columns)
print(set_df_columns)
set_key_columns = set(['title', 'genre'])
print(set_key_columns)
list_key_columns = list(set_key_columns)
set_value_columns = set_df_columns - set_key_columns
print(set_value_columns)
list_value_columns = list(set_value_columns)
df_melted = pd.melt(df, id_vars=list_key_columns, value_vars=list_value_columns)
df_shawshank = df_melted[df_melted.title == 'The Shawshank Redemption']
df_shawshank

{'title', 'duration', 'genre', 'content_rating', 'actors_list', 'star_rating'}
{'title', 'genre'}
{'star_rating', 'duration', 'content_rating', 'actors_list'}

,title,genre,variable,value
0,The Shawshank Redemption,Crime,star_rating,9.3
979,The Shawshank Redemption,Crime,duration,142
1958,The Shawshank Redemption,Crime,content_rating,R
2937,The Shawshank Redemption,Crime,actors_list,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."

# df.pivot() function

With the pivot(), we are able do do the converse of what we accomplished through the melt() function

In [ ]:
df_pivoted_shawshank = df_shawshank.pivot(index=['genre', 'title'], columns = 'variable', values='value')
df_pivoted_shawshank

,variable,actors_list,content_rating,duration,star_rating
genre,title,,,,
Crime,The Shawshank Redemption,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt...",R,142,9.3

Not quite. We still need to do some more operations...

In [ ]:
df_pivoted_shawshank.reset_index(inplace=True)
df_pivoted_shawshank[['star_rating', 'title', 'content_rating', 'genre', 'duration', 'actors_list']]

variable,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."

In [ ]:
df_orig_shawshank = df[df['title'] == 'The Shawshank Redemption']
df_orig_shawshank

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."

Finally, we have some resemblance.

## Transposing the data

In [ ]:
df_orig_shawshank

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."

In [ ]:
df_orig_shawshank.T

                                                                0
star_rating                                                   9.3
title                                    The Shawshank Redemption
content_rating                                                  R
genre                                                       Crime
duration                                                      142
actors_list     [u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt...

## Cross Tab

I think the pd.crostab() allows for the understanding of relationship between two columns. In the following example, let us see the relationship between content_rating and star_rating

In [ ]:
df_cross_tab = pd.crosstab(index=df['content_rating'], columns=df['star_rating'])
df_cross_tab

star_rating,7.4,7.5,7.6,7.7,7.8,7.9,8.0,8.1,8.2,8.3,8.4,8.5,8.6,8.7,8.8,8.9,9.0,9.1,9.2,9.3
content_rating,,,,,,,,,,,,,,,,,,,,
APPROVED,0,3,3,3,6,4,4,12,0,2,6,2,1,1,0,0,0,0,0,0
G,1,1,3,3,3,2,6,3,3,3,2,1,1,0,0,0,0,0,0,0
GP,0,0,0,1,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0
NC-17,1,1,3,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
NOT RATED,0,2,1,4,7,4,3,10,10,13,8,1,0,0,0,2,0,0,0,0
PASSED,0,0,0,1,0,0,1,2,1,0,1,0,1,0,0,0,0,0,0,0
PG,10,12,13,11,18,9,12,16,7,4,3,3,3,1,1,0,0,0,0,0
PG-13,14,21,27,27,28,15,21,14,6,2,2,3,2,1,4,1,1,0,0,0
R,21,66,71,58,49,38,40,37,21,16,12,12,7,6,0,3,0,1,1,1
TV-MA,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
UNRATED,1,1,3,3,4,2,8,7,2,3,2,1,0,1,0,0,0,0,0,0
X,0,1,0,0,1,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0

## Great tip to get percentage per row

In [ ]:
df_cross_tab.reset_index(inplace=True)
df_cross_tab_perc = pd.crosstab(index=df_cross_tab.content_rating, columns=df.star_rating, values=df.star_rating, aggfunc='sum', normalize='columns')
df_cross_tab_perc

star_rating     8.8       8.9  9.0  9.1  9.2  9.3
content_rating
APPROVED        0.0  0.000000  0.0  0.0  0.0  1.0
G               0.0  0.000000  0.0  0.0  1.0  0.0
GP              0.0  0.000000  0.0  1.0  0.0  0.0
NC-17           0.0  0.000000  1.0  0.0  0.0  0.0
NOT RATED       0.0  0.166667  0.0  0.0  0.0  0.0
PASSED          0.0  0.166667  0.0  0.0  0.0  0.0
PG              0.0  0.166667  0.0  0.0  0.0  0.0
PG-13           0.0  0.166667  0.0  0.0  0.0  0.0
R               0.0  0.166667  0.0  0.0  0.0  0.0
TV-MA           0.0  0.166667  0.0  0.0  0.0  0.0
UNRATED         0.5  0.000000  0.0  0.0  0.0  0.0
X               0.5  0.000000  0.0  0.0  0.0  0.0